<div class="col-md-6 mx-auto">
    <h1>ADD PRODUCT</h1>
    <div>
       <input type="text" class="form-control productName" placeholder="product name"/>
        <input type="text" class="form-control price" placeholder="price"/>
        <input type="text" class="form-control mrp" placeholder="mrp"/>
        <input type="text" class="form-control weight" placeholder="weight"/>
         <input type="text" class="form-control url" placeholder="image url"/>
       
    </div>
    <br/>
    <button type="button" class="btn btn-primary add">Add to bag</button>

   


 </div>
    